<div class="modal fade" #editModal tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="editProductModalLabel">Editar Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="form">
          <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>

          <div class="mb-3">
            <label class="form-label">Categoria</label>
            <select class="form-select" formControlName="categoryProduct">
              <option *ngFor="let category of productCategories" [value]="category">
                {{ productCategoryLabels[category] }}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label">Unidade</label>
            <select class="form-select" formControlName="unitOfMeasure">
              <option *ngFor="let unit of unitOfMeasures" [value]="unit">
                {{ unitOfMeasureLabels[unit] }}
              </option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="save()">Salvar</button>
      </div>

    </div>
  </div>
</div>
