<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Painel Caridade</a>

    <!-- Botão de Logoff no topo direito (mobile) -->
    <button class="btn btn-outline-light ms-auto d-lg-none" title="Sair" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i>
    </button>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="shouldShowNavItems" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/produtos">Produtos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/menu-campaigns/menus">Menus</a>
        </li>

        <!-- Dropdown de Campanha -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="campanhaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Campanha
          </a>
          <ul class="dropdown-menu" aria-labelledby="campanhaDropdown">
            <li><a class="dropdown-item">Cadastrar Campanha</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Doações</a>
        </li>
      </ul>

      <!-- Botão de logoff visível em telas maiores -->
      <button class="btn btn-outline-light d-none d-lg-inline" title="Sair">
        <i class="bi bi-box-arrow-right"></i> Sair
      </button>
    </div>
  </div>
</nav>